
@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative');

body {
    background-image: url(http://i.imgur.com/UAVIiY8.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
}

h1 {
    color: white;
    font-family: 'Cinzel Decorative';
    font-size: 300%;
}

#input {
    color: white;
    font-family: 'Cinzel Decorative';
    font-size: 200%;
}
